<p id="notice"><%= notice %></p>

<div style="position:absolute; top:150px; left:900px;">

<p>
  <strong>ユーザーネーム:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>メールアドレス</strong>
  <%= @user.mailadd %>
</p>

<%= link_to '戻る', tasks_path %>
